[submodule "submodules/solarized"]
	path = submodules/solarized
	url = https://github.com/altercation/solarized.git
[submodule "submodules/dircolors-solarized"]
	path = submodules/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "submodules/oh-my-zsh"]
	path = submodules/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule "submodules/Vundle.vim"]
	path = submodules/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "submodules/zsh-autoenv"]
	path = submodules/zsh-autoenv
	url = https://github.com/Tarrasch/zsh-autoenv
[submodule "submodules/irssi-colors-solarized"]
	path = submodules/irssi-colors-solarized
	url = https://github.com/huyz/irssi-colors-solarized
[submodule "submodules/tpm"]
	path = submodules/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "submodules/zsh-autosuggestions"]
	path = submodules/zsh-autosuggestions
	url = git://github.com/zsh-users/zsh-autosuggestions
[submodule "submodules/zsh-syntax-highlighting"]
	path = submodules/zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
