(
    selected_tab: White,
    command_fg: Reset,
    selection_bg: Black,
    selection_fg: White,
    cmdbar_bg: Black,
    cmdbar_extra_lines_bg: Black,
    disabled_fg: LightGreen,
    diff_line_add: Green,
    diff_line_delete: Red,
    diff_file_added: Green,
    diff_file_removed: Red,
    diff_file_moved: Magenta,
    diff_file_modified: Yellow,
    commit_hash: Magenta,
    commit_time: Cyan,
    commit_author: Green,
    danger_fg: Red,
    push_gauge_bg: Blue,
    push_gauge_fg: Reset,
    tag_fg: Magenta,
    branch_fg: Yellow,
)
